@using ClassroomBookCheckout.Models
@model ClassroomBookCheckout.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>@Html.ActionLink("Students", "Index") > @String.Format("{0} {1}", Model.FirstName, Model.LastName)</h2>

<h4>Checked Out Books:</h4>
<div>@Html.ActionLink("Check Out a Book", "CheckOut", "Books", new {studentId = Model.ID_Student})</div>
<ul>
    @foreach (Book book in Model.Books) 
    {
        <li>@Html.ActionLink(book.Title, "Details", "Books", new {Id = book.ID_Book}, null)</li>
    }
</ul>

@*
<div>
    <h4>Student</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
*@
